# Supabase Configuration
SUPABASE_URL=https://hineafxdwscafkmbmdud.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhpbmVhZnhkd3NjYWZrbWJtZHVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4MzkzNDAsImV4cCI6MjA4NzQxNTM0MH0.zLblgyuC4BO2n-hvPRem2WnYhCKxIAVkxg6QSRpppnc

# Auth: Worker login sebagai user biasa (menghormati RLS)
SUPABASE_USER_EMAIL=123@edp.com
SUPABASE_USER_PASSWORD=123

# Server Configuration
PORT=8085
SYNC_INTERVAL_MINUTES=10

# Operational Hour Sync (Format: Decimal, e.g. 6.0 = 06:00, 22.5 = 22:30)
WORKING_HOUR_START=6
WORKING_HOUR_END=22.5

# IMAP Configuration (Optional, can be overridden by table app_settings in Supabase)
IMAP_HOST=192.168.89.201
IMAP_PORT=143
IMAP_USER=edp_net_1@lbk.indomaret.co.id
IMAP_PASS=Lebak123
IMAP_SECURE=false
